.container {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.container ul li {
  overflow-wrap: break-word;
}

.title {
  font-weight: 900;
  color: #d28014;
  margin-left: 25px;
}

.tools {
  font-weight: 900;
  color: darkblue;
  margin-left: 25px;
}

.projectTitle {
  margin-left: 25px;
  font-size: 1.05em;
  color: grey;
  font-weight: 900;
}
