.container {
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container ul li {
  list-style-type: circle;
  overflow-wrap: break-word;
}

.title {
  font-weight: 900;
  color: #d28014;
}

.tools {
  font-weight: 900;
  color: darkblue;
}
